version: '3.8'

services:
  masonry-grid-app:
    container_name: ${SERVICE_NAME}
    image: ${SERVICE_NAME}
    build:
      dockerfile: Dockerfile
      context: .
      args:
        - NEXT_PUBLIC_PEXELS_API_KEY=${NEXT_PUBLIC_PEXELS_API_KEY}
        - NEXT_PUBLIC_PEXELS_API_URL=${NEXT_PUBLIC_PEXELS_API_URL}
    expose:
      - ${PORT:-3000}
    environment:
      - NODE_ENV=production
      - PORT=${PORT:-3000}
    networks:
      - backend_network
      - docker-setup_shared_services_network
    restart: unless-stopped

  nginx:
    container_name: nginx-${SERVICE_NAME}
    image: nginx:alpine
    expose:
      - '80'
    environment:
      - APP_PORT=${PORT:-3000}
      - SERVER_NAME=${SERVICE_NAME}.${DOMAIN_NAME}
    volumes:
      - ./nginx.conf:/etc/nginx/templates/default.conf.template:ro
    networks:
      - backend_network
      - docker-setup_shared_services_network
    restart: unless-stopped
    depends_on:
      - masonry-grid-app

networks:
  backend_network:
    driver: bridge
  docker-setup_shared_services_network:
    external: true
